@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
--white: (0, 0%, 100%),
--lightgray:(212, 45%, 89%),
--grayishblue:(220, 15%, 55%),
--darkblue:(218, 44%, 22%)
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit';
  font-size: 15px;
  color: #000;
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin:0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

.container {
  width: 320px;
  border-radius: 30px;
  background-color:#fff;
  padding: 20px;
  display: flex;
  flex-direction: column;

}

.image {
  border-radius: 10px;
}

.text-header {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-weight: 700;
}

.text-body {
  color: hsl(220,15%,55%);
  font-weight: 400;
  padding: 10px;
  text-align: center;

}